<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LoloBnB{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('signin') }}
        <script src="https://kit.fontawesome.com/b5ab9226f9.js" crossorigin="anonymous"></script>
        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

    </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="text-center">
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
