{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-success">
    <p>Un e-mail a été envoyé à votre adresse : <strong>{{mail}}</strong></p>
    <p>Veuiller cliquer sur le lien afin réinitialiser votre mot de passe . Ce lien expirera dans <strong>{{ tokenLifetime|date('g') }} heures</strong></p>
    <p>Si vous ne recevez pas ce mail, meci de verifier vos spams ou <strong><a href="{{ path('app_forgot_password_request') }}">d'essayer à nouveau</a></strong></p>
    </div>
</div>
   
   
{% endblock %}
