{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Réinitialiser</button>
        {{ form_end(resetForm) }}
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>
{% endblock %}
